body {
  font-family: "REM", sans-serif;
  font-size: 1.3 rem;
}
input[type="submit"] {
  margin: 10px 0px;
}
textarea{
    resize: none;
    height: 50vh;
    margin-right: 10px;
}
#title{
    margin-right: 10px;
}
h1 {
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.boxy {
  max-width: 60vw;
}
a {
  text-decoration: none;
  color: blueviolet;
}
#postbox{
    display: none;
    background: lightblue ;
    position: absolute;
    float: center;
    box-shadow: 10px 10px 20px grey;
    top: 10vh;
    left: 15vw;
    width: 70vw;
    height: 80vh;
    border-radius: 10px;

}
.postbtn{
    background: #9ac7f5;
    border: 1px #9ac7f5;
}
