body {
  font-family: "REM", sans-serif;
  font-size: 1.3 rem;
  background: pink;
}
input[type="submit"] {
  margin: 10px 0px;
}
h1 {
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.boxy {
  max-width: 60vw;
}
a {
  text-decoration: none;
  color: blueviolet;
}
