{% extends "base.html" %}

{% block title %} WhisperPost {% endblock %}
 
{% block content %} 
<h1>Login</h1>
<hr>
{% if error %}
<p class='text-center' id="Error"> <b>Invalid:</b> {{ error }}</p>
{% endif %}
<form method="post">
    <div class="container">
        <div class="input-group m-3">
           <span class="input-group-text" id="basic-addon1">@</span>
        <input class='form-control ' type="email" name='email' required placeholder='email' autocomplete="off">
    </div>
        

        <div class="input-group m-3">
           <span class="input-group-text" id="basic-addon1">*</span>
       <input type="password" class='form-control' placeholder='password' name='password' required autocomplete="off">
        </div>
   <div class='row m-3'>
        <input type="submit" name="submission" class=' btn btn-primary my-2' value="Take me to heaven" />
        <div class='text-end'><a href="{{ url_for('signup') }}" class='col-8 mt-2 '> New here? Register  </a></div>
    </div>
    </div>
</form>
{% endblock %}
